@model IEnumerable<SisMed.Models.ViewModels.Medicos.ListarMedicoViewModel>
@{
    ViewBag.Title = "Médicos";
    string filtro = ViewBag.Filtro as string ?? "";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <form asp-controller="Medicos" asp-action="Index">
                            <div class="input-group input-group-sm" style="width: 300px">
                                <input type="text" class="form-control" placeholder="Buscar Médico" name="filtro" value="@filtro" />

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th style="width: 100px">#</th>
                                <th style="width: 250px">CRM</th>
                                <th>Nome</th>
                                <th>Status</th>
                                <th style="width: 50px">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var medico in Model)
                                {
                                    <tr>
                                        <td>@medico.Id</td>
                                        <td>@medico.CRM</td>
                                        <td>@medico.Nome</td>
                                        <td>
                                            @if (medico.IsActive)
                                            {
                                                <i class="text-success" data-feather="check-square"></i>
                                            }
                                            else
                                            {
                                                <i class="text-danger" data-feather="x-square"></i>
                                            }
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix">
                    @if(ViewBag.TotalPaginas > 0)
                    {
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (ViewBag.NumeroPagina > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Medicos", new { filtro = @ViewBag.Filtro, pagina = ViewBag.NumeroPagina - 1 })">&laquo;</a>
                                </li>
                            }
                            <li class="page-item page-link">Página @ViewBag.NumeroPagina de @ViewBag.TotalPaginas</li>
                            @if (ViewBag.NumeroPagina < ViewBag.TotalPaginas)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Medicos", new { filtro = @ViewBag.Filtro, pagina = ViewBag.NumeroPagina + 1 })">&raquo;</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>